<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Online Schedule</h1>

    {% if user.is_authenticated %}
        <p>You are already logged in as {{ user.username }}.</p>

        <!-- Форма для выхода с методом POST -->
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>

    {% else %}
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register_client' %}">Register here</a>.</p>
    {% endif %}
</body>
</html>